

.myshadow {
    -webkit-box-shadow: 0px 11px 11px 1px rgba(0,0,0,0.35);
    box-shadow: 0px 11px 11px 1px rgba(0,0,0,0.35);
}

.green-gradient {
    background: linear-gradient(45deg, #37ecba, #72afd3);
}

.purple-gradient {
    background: linear-gradient(45deg, #d299c2, #fef9d7);
}

.white-gradient {
    background: linear-gradient(45deg, #fff1eb, #ace0f9);
}

.yellow-gradient {
    background: linear-gradient(45deg, #fddb92, #d1fdff);
}

.light-gradient {
    background: linear-gradient(45deg, #a1ffce, #f9ffd1);
}

.blue-pastel {
    background: #6867AC;
}

.purple-pastel {
    background: #A267AC;
}

.pink-pastel {
    background: #CE7BB0;
}

.light-pink {
    background: #FFBCD1;
}

.all-side-shadow {
    -webkit-box-shadow: 0px 0px 16px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 16px 5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 16px 5px rgba(34, 60, 80, 0.2);
}

