<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Расходы</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<div class="d-flex mx-5 bg-dark bg-gradient mt-2 mb-5 justify-content-start align-items-center rounded myshadow"
     style="height: 100px">
    <a href="/" class="btn btn-outline-warning m-5 text-center py-2">На
        главную</a>
</div>

<!--Таблица расходов-->

<div class="table-responsive col-8 mx-auto px-4 py-2 mb-5 shadow rounded">
    <a href="#down" class="btn btn-success mb-3 shadow" id="add_button">Добавить</a>
    <table class="table table-hover">
        <thead>
        <tr class="shadow table-danger fs-5">
            <th scope="col">Категория</th>
            <th scope="col">Тип</th>
            <th scope="col"></th>
            <th scope="col"></th>

        </tr>
        </thead>
        <tbody id="my_table">
        <tr th:each="rawCost : ${costBase}">
            <th th:text="${rawCost.category}" scope="row">
            </th>
            <td th:text="${rawCost.type}">
            </td>
            <td>
                <button type="submit" class="shadow btn btn-warning btn-sm">Изменить</button>
            </td>
            <td>
                <button type="submit" class="shadow btn btn-danger btn-sm">Удалить</button>
            </td>
        </tr>
        <tr>
            <form method="post">
            <td>
            <div class="form-floating">
                <input type="text" th:name="name" class="form-control shadow" id="floatingInput" placeholder="Наименование"/>
                <label for="floatingInput">Наименование</label>
                </div>
            </td>
            <td>
            <div class="form-floating">
                <select name="type" class="form-select shadow" id="floatingSelect" aria-label="Floating label select example">
                       <option value="fixed" selected>Постоянные</option>
                        <option value="var">Переменные</option>
                    </select>
                <label for="floatingSelect">Тип</label>
                </div>
            </td>
            <td>
            <button type="submit" th:name="rawCost" class="btn btn-success shadow btn-bg">Добавить</button>
            </td>
            </form>
        </tr>
        </tbody>
    </table>
</div>
<section id="down">

</section>

</div>

</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<script src="js/main.js"></script>
</html>