<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Финансовый анализ</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">


</head>
<body>

<!--Шапка с формами загрузки-->

<div class="d-flex flex-column mx-5 bg-dark bg-gradient mt-2 mb-5 justify-content-center align-items-center rounded myshadow"
     style="height: 100px">
    <form th:action="@{/upload}" method="post" enctype="multipart/form-data">
        <div class="d-flex flex-row">
            <div class="d-flex flex-column my-2">
                <div class="input-group mb-2">
            <span class="btn btn-outline-warning" id="bankJson">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-bar-chart" viewBox="0 0 16 16">
                    <path d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z"/>
                </svg>
                Банковская выписка
            </span>
                    <input type="file" class="form-control" required name="bank-statement"
                           aria-describedby="bankJson"
                           aria-label="Upload">
                </div>
                <div class="input-group">
            <span class="btn btn-outline-warning" id="upload1CFile">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-bar-chart" viewBox="0 0 16 16">
                    <path d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z"/>
                </svg>
                1C отчет
            </span>
                    <input type="file" class="form-control" required name="1C-statement"
                           aria-describedby="upload1CFile"
                           aria-label="Upload">
                </div>
            </div>
            <button class="btn btn-outline-warning m-2" type="submit">Загрузить</button>
        </div>
    </form>
</div>

<!--Кнопка для отчета-->
<div>
    <button type="button" class="btn btn-primary mb-3 shadow" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Создать отчет</button>
</div>

<!--Modal для кнопки-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Укажите даты</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="mb-3">
                        <label for="date-from" class="col-form-label">С:</label>
                        <input type="date" name="from" class="form-control" id="date-from">
                    </div>
                    <div class="mb-3">
                        <label for="date-to" class="col-form-label">По:</label>
                        <input type="date" name="to" class="form-control" id="date-to">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" name="order_statement" value="true" class="btn btn-primary">Добавить</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!--Таблица отсутствующих контрагентов-->

<div th:unless="${missingInn == null || missingInn.isEmpty()}" class="col-8 mx-auto px-4 py-2 mb-5 shadow rounded">
    <div class="my-4 text-center">
        <h3>Данные контрагенты отсутствуют в базе</h3>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr class="table-warning fs-5">
                <th scope="col">ИНН</th>
                <th scope="col">Имя</th>
                <th scope="col">Категория</th>
                <th class="text-center" scope="col">Исключить</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="missed: ${missingInn}">
                <form id="addNewContragents" method="post">
                    <th scope="row">
                        <input type="hidden" th:text="${missed.inn}" th:name="inn" th:value="${missed.inn}"/>
                    </th>
                    <td>
                        <input type="hidden" th:text="${missed.name}" th:name="name" th:value="${missed.name}"/>
                    </td>

                    <td>

                        <select th:name="categoryID" required class="form-select form-select-sm">
                            <option value="" disabled selected>Выбери категорию</option>
                            <option th:each="categ: ${categories}" th:text="${categ.category}" th:value="${categ.id}">
                                One
                            </option>
                        </select>
                        <div class="invalid-feedback">Необходимо выбрать категорию</div>

                    </td>
                    <td class="text-center">
                        <input th:name="exclude" class="form-check-input" type="checkbox" th:value="true">
                    </td>
                    <td>
                        <button type="submit" th:name="add" th:value="true" class="btn btn-danger btn-sm">Добавить
                        </button>
                    </td>
                </form>
            </tr>


            </tbody>
        </table>
    </div>

</div>
<!--th:unless turnover==null-->
<!--Форма для кнопок-->
<div id="nav-buttons" th:unless="${totalTurnOver == null}"
     class="d-flex col-8 justify-content-evenly bg-dark bg-gradient mx-auto rounded myshadow"
     style="display: none; height: 60px">
    <a href="/costs" class="btn btn-outline-warning m-2 text-center py-2">Проверить расходы</a>
    <a href="/cost_base" class="btn btn-outline-warning m-2 text-center py-2">База расходов</a>
    <a href="/contragent_base" class="btn btn-outline-warning m-2 text-center py-2">База контрагентов</a>
    <a href="/statistic" class="btn btn-outline-warning m-2 text-center py-2">Статистика</a>

</div>


<!--5 Боксов с данными-->
<div id="5-boxes" class="flex-row mt-4 mx-2 px-4 justify-content-evenly" style="display: none; height: 150px">
    <div class="anim-bigger card shadow green-gradient" style="width: 230px; height: 130px">
        <h5 class="card-header">Выручка</h5>
        <div class="card-body">
            <h4 th:unless="${totalTurnOver == null}" th:text="${#numbers.formatCurrency(totalTurnOver)}"
                class="card-text"></h4>
            <p th:unless="${dateOfStatement == null}" th:text="${#temporals.format(dateOfStatement, 'MMM yy')}"
               class="card-title" style="color: white"></p>
        </div>
    </div>
    <div class="anim-bigger card shadow yellow-gradient" style="width: 230px; height: 130px">
        <h5 class="card-header">Валовая прибыль</h5>
        <div class="card-body">
            <h4 th:unless="${totalGrossProfit == null}" th:text="${#numbers.formatCurrency(totalGrossProfit)}"
                class="card-title"></h4>
            <p th:unless="${dateOfStatement == null}" th:text="${#temporals.format(dateOfStatement, 'MMM yy')}"
               class="card-text" style="color: white"></p>
        </div>
    </div>
    <div class="anim-bigger card shadow white-gradient" style="width: 230px; height: 130px">
        <h5 class="card-header">Чистая прибыль</h5>
        <div class="card-body">
            <h4 th:unless="${netProfit == null}" th:text="${#numbers.formatCurrency(netProfit)}"
                class="card-title"></h4>
            <p th:unless="${dateOfStatement == null}" th:text="${#temporals.format(dateOfStatement, 'MMM yy')}"
               class="card-text" style="color: white"></p>
        </div>
    </div>
    <div class="anim-bigger card shadow purple-gradient" style="width: 230px; height: 130px">
        <h5 class="card-header">Рентабельность</h5>
        <div class="card-body">
            <h4 th:unless="${rOs == null}" th:text="${#numbers.formatPercent(rOs, 1, 2)}" class="card-title"></h4>
            <p th:unless="${dateOfStatement == null}" th:text="${#temporals.format(dateOfStatement, 'MMM yy')}"
               class="card-text" style="color: white"></p>
        </div>
    </div>
    <div class="anim-bigger card shadow light-gradient" style="width: 230px; height: 130px">
        <h5 class="card-header">Фонд зарплат</h5>
        <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-text"></p>
        </div>
    </div>
</div>
<div id="pharmacy-boxes" class="flex-column mx-5 justify-content-evenly mx-1" style="display: none">
    <div th:each="pharmacy : ${pharmacies}">
        <div th:if="${pharmacy.pharmacyNumber != 0}" class="card mb-3">
            <div class="row g-0 shadow">
                <div class="d-flex col-md-4 p-2">
                    <img th:src="@{pharmacy/{photo}(photo = ${pharmacy.pharmacy_photo})}"
                         class="shadow img-fluid rounded m-auto">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="d-flex flex-column border mb-3 rounded all-side-shadow py-1 px-3"
                             style="height: 40px">
                            <h5 class="my-auto" th:text="'Аптека №' + ${pharmacy.pharmacyNumber}">Card title</h5>
                        </div>
                        <table>
                            <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <div th:each="result:${pharmResults}" th:if="${pharmacy.equals(result.pharmacy)}">
                                <tr>
                                    <td>
                                        <h6 class="card-text mt-3">Выручка: </h6>
                                    </td>
                                    <td>
                                    <span th:text="${#numbers.formatCurrency(result.turnover)}"
                                          class="ms-4 fs-5 badge shadow bg-warning">10 000 000</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6 class="card-text mt-3">Валовая прибыль: </h6>
                                    </td>
                                    <td>
                                        <span th:text="${#numbers.formatCurrency(result.grossProfit)}"
                                                class="ms-4 fs-5 badge shadow bg-dark">10 000 000</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6 class="card-text mt-3">Чистая прибыль: </h6>
                                    </td>
                                    <td>
                                        <span th:text="${#numbers.formatCurrency(result.netProfit)}"
                                                class="ms-4 fs-5 badge shadow bg-success">10 000 000</span>
                                    </td>
                                </tr>
                            </div>
                        </table>
                        <p class="card-text">
                            <small class="text-muted" th:unless="${dateOfStatement == null}"
                                   th:text="${#temporals.format(dateOfStatement, 'MMM yy')}"></small>
                        </p>
                        <button class="mt-3 btn btn-outline-danger all-side-shadow" data-bs-toggle="modal"
                                th:data-bs-target="'#pham'+${pharmacy.pharmacyNumber}">Смотреть расходы
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" th:id="'pham'+${pharmacy.pharmacyNumber}" tabindex="-1"
                             th:aria-labelledby="'phamLabel'+${pharmacy.pharmacyNumber}"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" th:id="'phamLabel'+${pharmacy.pharmacyNumber}">Список
                                            расходов аптеки</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr class="table-dark fs-5">
                                                    <th scope="col">Категория</th>
                                                    <th class="text-center" scope="col">Сумма</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                <tr th:each="cost:${pharmacyCosts}"
                                                    th:if="${cost.pharmacy.equals(pharmacy)}">
                                                    <td th:text="${cost.categoryId.category}"></td>
                                                    <th th:text="${#numbers.formatCurrency(cost.amount)}"
                                                        class="text-end"></th>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- JavaScript Bundle with Popper -->
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<script src="js/main.js"></script>

</body>
</html>