<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">



</head>
<body>
<div class="d-flex flex-column mx-5 bg-dark mt-2 mb-5 justify-content-center align-items-center rounded myshadow"
     style="height: 100px">
    <form th:action="@{/upload}" method="post" enctype="multipart/form-data">
        <div class="d-flex flex-row">
        <div class="d-flex flex-column my-2">
        <div class="input-group mb-2">
            <span class="btn btn-outline-warning" id="bankStatement">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart" viewBox="0 0 16 16">
                    <path d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z"/>
                </svg>
                Банковская выписка
            </span>
            <input type="file" class="form-control" required name="bank-statement"
                   aria-describedby="bankStatement"
                   aria-label="Upload">
        </div>
        <div class="input-group">
            <span class="btn btn-outline-warning" id="upload1CFile">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart" viewBox="0 0 16 16">
                    <path d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z"/>
                </svg>
                1C отчет
            </span>
            <input type="file" class="form-control" required name="1C-statement"
                   aria-describedby="upload1CFile"
                   aria-label="Upload">
        </div>
        </div>
        <button class="btn btn-outline-warning m-2" type="submit">Загрузить</button>
        </div>
    </form>
</div>
<div th:unless="${missingInn == null || missingInn.isEmpty()}" class="col-8 mx-auto px-4 py-2 mb-5 shadow rounded">
    <div class="my-4 text-center">
        <h3>Данные контрагенты отсутсвуют в базе</h3>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr class="table-warning fs-5">
                <th scope="col">ИНН</th>
                <th scope="col">Имя</th>
                <th scope="col">Категория</th>
                <th class="text-center" scope="col">Исключить</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="missed: ${missingInn}">
                <form id="addNewContragents" method="post">
                    <th scope="row">
                        <input type="hidden" th:text="${missed.inn}" th:name="inn" th:value="${missed.inn}"/>
                    </th>
                    <td>
                        <input type="hidden" th:text="${missed.name}" th:name="name" th:value="${missed.name}"/>
                    </td>

                    <td>

                        <select th:name="categoryID" required class="form-select form-select-sm">
                            <option value="" disabled selected>Выбери категорию</option>
                            <option th:each="categ: ${categories}" th:text="${categ.category}" th:value="${categ.id}">
                                One
                            </option>
                        </select>
                            <div class="invalid-feedback">Необходимо выбрать категорию</div>

                    </td>
                    <td class="text-center">
                        <input th:name="exclude" class="form-check-input" type="checkbox" th:value="true">
                    </td>
                    <td>
                        <button type="submit" th:name="add" th:value="true" class="btn btn-danger btn-sm">Добавить</button>
                    </td>
                </form>
            </tr>


            </tbody>
        </table>
    </div>

</div>
<div id="5-boxes" class="flex-row mt-4 mx-2 px-4 justify-content-evenly" style="display: none; height: 150px">
    <div class="card shadow green-gradient" style="width: 230px; height: 130px">
        <h5 class="card-header">Выручка</h5>
        <div class="card-body">
            <h4 th:unless="${totalTurnOver == null}" th:text="${#numbers.formatCurrency(totalTurnOver)}" class="card-text"></h4>
            <p th:unless="${dateOfStatement == null}" th:text="${#temporals.format(dateOfStatement, 'MMM yy')}" class="card-title" style="color: white"></p>
        </div>
    </div>
    <div class="card shadow yellow-gradient" style="width: 230px; height: 130px">
        <h5 class="card-header">Валовая прибыль</h5>
        <div class="card-body">
            <h4 th:unless="${totalGrossProfit == null}" th:text="${#numbers.formatCurrency(totalGrossProfit)}" class="card-title"></h4>
            <p th:unless="${dateOfStatement == null}" th:text="${#temporals.format(dateOfStatement, 'MMM yy')}" class="card-text" style="color: white"></p>
        </div>
    </div>
    <div class="card shadow white-gradient" style="width: 230px; height: 130px">
        <h5 class="card-header">Чистая прибыль</h5>
        <div class="card-body">
            <h4 th:unless="${netProfit == null}" th:text="${#numbers.formatCurrency(netProfit)}" class="card-title"></h4>
            <p th:unless="${dateOfStatement == null}" th:text="${#temporals.format(dateOfStatement, 'MMM yy')}" class="card-text" style="color: white"></p>
        </div>
    </div>
    <div class="card shadow purple-gradient" style="width: 230px; height: 130px">
        <h5 class="card-header">% продаж</h5>
        <div class="card-body">
            <h3 class="card-title">Выручка</h3>
            <p class="card-text">10 000 000</p>
        </div>
    </div>
    <div class="card shadow light-gradient" style="width: 230px; height: 130px">
        <h5 class="card-header">Выручка</h5>
        <div class="card-body">
            <h3 class="card-title">Выручка</h3>
            <p class="card-text">10 000 000</p>
        </div>
    </div>

</div>


<!-- JavaScript Bundle with Popper -->
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<script src="js/main.js"></script>

</body>
</html>